@import "tailwindcss";

:root {
    --background: #fafafa;
    --foreground: #01010b;
    --primary: #e7d915;
    --secondary: #cfcfcf;
    --border: #b8b8b8;

    --sidebar-background: #f2f2f2;
    --sidebar-foreground: #ababab;
    --sidebar-width: 240px;
    --sidebar-border: #dfdfdf;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #01010b;
        --foreground: #fafafa;
        --secondary: #383838;
        --border: #121212;

        --sidebar-background: #000000;
        --sidebar-foreground: #bebebe;
        --sidebar-border: #1c1c1c;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
